@import url(http://fonts.googleapis.com/css?family=Open+Sans);       
@import url(menu.css);
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
* {
	margin: 0;
	padding: #FF0000;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
header
{
	width: 100%;
	height: 50px;
	background: #333;
	color:#BDB76B;

	position: fidex;
	top: 0;
	left: 0;
	z-index: 100;
}
.contenedor{
	width: 98%;
	margin: auto; 
}
h1 {
	float: left;
}
header.contenedor {
	display: table;
}
section {
	width:100%;
	margin-bottom: 25px;
}
#bienvenidos {
	text-align: center;
}